body {
    font-family: Arial, sans-serif;
    background-image: url("https://wallpapers.com/images/hd/high-resolution-world-map-with-national-flags-6egft7igudpt5xwc.jpg");
    background-repeat:repeat;
    background-size: cover;
    text-align: center;

}

.container {
    max-width: 600px;
    margin: 200px;
    padding: 20px;
    margin-left: 600px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#flag {
    width: 300px;
    height: auto;
    margin: 20px 0;
}

button {
    background-color: rgb(136, 136, 136);
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}